.parent {
  position: relative;
  top: 0;
  left: 0;
}

.portriat-icon {
  position: relative;
  top: 0;
  left: 0;
}

.checkmark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  left: -20px;
}

.hide-image {
  display: none;
}

.triangle {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: linear-gradient(
    to bottom right,
    #3498db 0%,
    #3498db 50%,
    #23292e 50%,
    #23292e 100%
  );
}
