/* $bgPrimary: rgb(60, 60, 60); */
body{
  --primary-background: #2e2f2f;
  --secondary-background: #5a5858;
  --text-white: #dadada;
}
.main-wrapper{
  color: var(--text-white);
  height: 100vh;
  /* grid-template-columns: 20% auto; */
  background-color: var(--primary-background);
  transition: 0.5s;
  display: flex;
 
}

img {
  width: 20px;
  height: 20px;
}

