.side-bar-wrapper{
  background-color: var(--secondary-background);
}

.add-photos {
  /* height: 45px; */
  /* display: flex; */
  border-bottom: 2px solid var(--primary-background);
  padding: 10px 5%;
}
.add-photos > label {
  display: flex;
}
.add-photos > label > span {
  margin-left: 10px;
}
.add-photos > label> img {
  width: 20px;
  height: 20px;
}